<div class="landing">
    <h1 class="welcome">Welcome to Fit Init!</h1>
    <h3 class="introP">We are so happy that you are here. We want to help you to achieve your fitness goals no matter
        how difficult it may seem.</h3>
    <form action="/workout" method="GET">
        <button class="btn btn-primary" type="submit">Ready!</button>
    </form>
</div>