<h1 class="journalHeader">How are you feeling today?</h1>

<div class="journal">
  <form action="/journal" method="POST">
    <div class="form-group journal">
      <label for="exampleFormControlTextarea1">Entry</label>
      <textarea class="form-control" name="content" id="content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary journal">Submit</button>
</div>
</form>
</div>