<div class="card profile" style="width: 18rem;">
  <div class="card-header">
    <p class="user-name user-info"><%=user.name%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item user-info"> Age: <%=user.age%></li>
    <li class="list-group-item user-info"> Height: <%=user.height%></li>
    <li class="list-group-item user-info"> Weight: <%=user.weight%></li>
  </ul>
  <a href="/update"><button type="button" class="btn btn-primary profile">Update</button></a>
</div>