<h1>Profile</h1>


<div class="card profile" style="width: 18rem;">
    <div class="card-header">
        <p class="user-name"id="user-info"><%=user.name%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"id="user-info"> Age: <%=user.age%></li>
      <li class="list-group-item"id="user-info"> Height: <%=user.height%></li>
      <li class="list-group-item"id="user-info"> Weight: <%=user.weight%></li>
    </ul>
    <a href="/update"><button type="button" class="btn btn-primary profile">Update</button></a>
</div>



