<h2>Profile</h2>

<form action="/profile/update" method="GET">
<h3><%=user.name%></h3>
<h3><%=user.age%></h3>
<h3><%=user.height%></h3>
<h3><%=user.weight%></h3>
<button type="submit" class="btn btn-primary">Update</button>
</form>




