<div class="update">
    <form action="/update" method="POST">
        <input class="form-control" name="name" type="text" placeholder="Name">
        <input class="form-control" name="email" type="text" placeholder="Email">
        <input class="form-control" name="height" type="text" placeholder="Height">
        <input class="form-control" name="weight" type="text" placeholder="Weight">
        <input class="form-control" name="age" type="integer" placeholder="Age">
        
        <button type="submit" class="btn btn-primary done">Done</button>
    </form>
</div>