<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Monday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Tuesday</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Wednesday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Thursday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Friday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Saturday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>
<div class="allWorkouts">
  <div class="cardMonday workoutCard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sunday</h5>
      <h6 class="card-subtitle mb-2 text-muted">Quads+Glutes+Hamstrings</h6>
      <p class="card-text"></p>
      <a href="/workout/:id" class="card-link">START!</a>
      <button class="btn btn-primary" type="submit">Add to Favorite Exercises</button>
    </div>
  </div>
</div>