<form action="/Sunday" method="GET">
    <div class="card workout-card" style="width: 22rem;">
        <div class="card-header">
            <h1>Sunday</h1>
            CONGRATULATIONS!
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <p>YOU MADE IT THROUGH THE WEEK!<br> Rest up for tomorrow!</p>
            </li>
        </ul>
        <div class="gif">
            <img src=<%="https://media.giphy.com/media/kQ6LloFKVlxte/giphy.gif"%> height="200" width="300">
        </div>
</form>
</div>